$dark: #444;
$light: #888;
$link: #7253ed;

body {
  color: $dark;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.75;
  overflow-x: hidden;
  padding: 0 1rem;
}

footer,
header,
main {
  margin: 3rem auto;
  max-width: 680px;
}

main header > * {
  margin-bottom: 0.25rem;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;

  li {
    display: inline;
  }
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $dark;
  }

  b,
  i,
  nav li & {
    padding: 0.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1;
}

ol,
ul {
  padding-left: 1.5rem;
}

blockquote {
  margin: 0 0 1rem -26px;
  border-left: 6px solid $dark;
  padding-left: 20px;
}

hr {
  border: 0;
  border-bottom: 1px solid $light;
  margin: 2rem auto;
}
