$dark: #444;
$light: #888;
$link: #7253ed;
$width: 680px;

body {
  color: $dark;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.75;
  overflow-x: hidden;
  padding: 0 1rem;
}

footer,
header,
main {
  margin: 3rem auto;
  max-width: $width;
}

main header > * {
  margin-bottom: 0.25rem;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;

  li {
    display: inline;
  }
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $dark;
  }

  b,
  i,
  nav li & {
    padding: 0.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.25;
  margin-top: 1.5em;
}

ol,
ul {
  padding-left: 1.5rem;
}

blockquote {
  margin: 0 0 1rem -26px;
  border-left: 6px solid $dark;
  padding-left: 20px;
}

pre {
  overflow: auto;
}

hr {
  border: 0;
  border-bottom: 1px solid $light;
  margin: 2rem auto;
}

dd {
  margin-bottom: 0.75rem;
}

@media screen and (min-width: $width) {
  dl {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-row-gap: 0.75rem;
    grid-template-columns: 1fr 6fr;
  }

  dt {
    grid-column-start: 1;
    text-align: right;
  }

  dd {
    grid-column-start: 2;
    margin: 0;
  }
}
