---
layout: vendor/compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <header>
      <nav>
        <a href="{{ site.baseurl }}/">
          <img alt="{{ site.title }}" src="{{ site.baseurl }}{{ site.logo }}" width="48" height="48" class="circle"></img>
        </a>
        {% assign pages = site.pages | where_exp: "page", "page.header != nil" | sort_natural: "header" %}
        {% if pages %}
        <ul>
          {% for page in pages %}
          <li>
            <a href="{{ site.baseurl }}{{ page.url }}">{{ page.header }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <small>
        {{ site.title }} &copy; {{ site.time | date: '%Y' }}
        <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
        &middot; <a href="/feed.xml">Feed</a>
      </small>
    </footer>
  </body>
</html>
