---
layout: vendor/compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <header>
      <nav>
        <a href="{{ site.baseurl }}/">
          <img alt="{{ site.title }}" src="{{ site.baseurl }}{{ site.logo }}" width="48" height="48" class="circle"></img>
        </a>
        {% assign pages = site.pages | where_exp: "page", "page.header != nil" | sort_natural: "header" %}
        {% if pages %}
        <ul>
          {% for page in pages %}
          <li>
            <a href="{{ site.baseurl }}{{ page.url }}">{{ page.header }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </nav>
    </header>
    {% if site.featured and site.featured != page.title %}
    {% assign featured = site.posts | where: "title", site.featured | first %}
    <article class="boxed">
      <h2><a href="{{ featured.url }}">{{ featured.title }}</a></h2>
      {% if featured.excerpt %}
      <p>
        {{ featured.excerpt | strip_html }}
      </p>
      {% endif %}
      <small>
        <time datetime="{{ featured.date | date_to_xmlschema }}">{{ featured.date | date: "%b %d, %Y" }}</time>
      </small>
    </article>
    {% endif %}
    <main>
      {{ content }}
    </main>
    <footer>
      <small>
        {{ site.author }} &copy; {{ site.time | date: '%Y' }}
        <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
        &middot; <a href="/feed.xml">Feed</a>
      </small>
    </footer>
  </body>
</html>
